def colors {
    dark-gray   : #4a4a4a;
    medium-gray : #858585;
    light-gray  : rgb (235, 235, 235);
    green       : rgb (46, 139, 87);
    purple      : #7f007f;
    yellow      : rgb (255, 236, 139);
    orange      : rgb (255, 127, 0);
    red         : firebrick;
    teal        : #308876;
    light-blue  : #4189a4;
    blue        : #325f9f;
    faint-blue  : #dfe8f1;
    steel-blue  : #606b85;
}

body           { background : white;
                 foreground : colors.dark-gray;
               }

cursor         { background: colors.medium-gray; }

prompt         { color       : colors.blue;
                 font-weight : bold; }

comment        { color: colors.medium-gray; }
builtin, keyword {
    color: colors.blue;
}

variable, function {
    color: colors.light-blue;
}

function       { color: colors.light-blue; }

constant, string {
    color: colors.steel-blue;
}

statement      { color: colors.yellow; }
struct         { color: colors.faint-blue; }
type           { color: colors.teal; }
preprocessor   { color: colors.purple; }
error          { color: colors.red;
                 font-weight: bold; }
warning        { color       : colors.orange;
                 font-weight : bold;
               }
selection      { background : colors.faint-blue; }
match          { background : colors.yellow;
                 foreground : colors.blue; }
mismatch       { background : colors.purple;
                 color      : white; }
more-matches   { background : colors.faint-blue; }
paren-match    { background : colors.yellow; }
paren-mismatch { background : colors.purple;
                 color      : white; }
todo           { color: colors.red; }


// Emacs-specific colors

mode-line          { color      : white;
                     background : colors.dark-gray; }
mode-line-inactive { color      : colors.medium-gray;
                     background : colors.light-gray; }

compilation-info   { color       : colors.green;
                     font-weight : bold; }
compilation-error  { color       : colors.orange;
                     font-weight : bold; }

info-xref          { color : colors.blue; }
info-xref-visited  { color : colors.purple; }

magit-diff-add     { color       : colors.green;
                     font-weight : bold; }
magit-diff-del     { color       : colors.purple;
                     font-weight : bold; }

org-level-1        { color       : colors.blue;
                     font-weight : bold; }
org-level-2        { color       : colors.purple;
                     font-weight : bold; }
org-todo           { color       : colors.red;
                     font-weight : bold; }
org-done           { color       : colors.green;
                     font-weight : bold; }

// Emacs Tuareg mode colors

tuareg-font-lock-governing-face { color: colors.blue; }
tuareg-font-lock-operator-face  { color: colors.blue; }

caml-types-expr-face { background: colors.yellow; }


// vim-specific colors
bool      { color: blue; }
char      { color: blue; }
int       { color: colors.teal; }
float     { color: colors.teal; }
branch    { color: colors.blue; }
loop      { color: colors.blue; }
case      { color: yellow; }
exception { color: yellow; }

