// General scheme:
//
//   Normal text is black, including things that are normally
//   syntax-highlighted. Keywords are semi-bold but are a lighter
//   color to offset their added weight.
//   Color highlighting is kept to a minimum - the
//   only place where highlighting is used is to distinguish entities
//   which might become unterminated (e.g., strings and comments) from
//   normal text (in red).
//
//   Kinda (blue, green, red) are used for neutral, positive information
//   (e.g., important success messages, as from successful compiles),
//   and negative information (e.g., important failure messages like
//   compilation failures).

//   Yellow is used to highlight positive matches (parens, searches, etc.).
//   Purple is used to highlight mismatches (mismatched parens, failing
//   searches, etc.). Faint gray is used for neutral matches (the
//   selection, matches other than the currently-highlighted one,
//   the current line).

def colors {
    dark-gray   : #4a4a4a;
    medium-gray : #858585;
    light-gray  : rgb (235, 235, 235);
    faint-gray  : #eaeaea;
    yellow      : rgb (255, 236, 139);
    purple      : #7f007f;
    kinda-red   : #4a0000;
    kinda-blue  : #00004a;
    kinda-green : #004a00;
    red         : #4a0000;
}

body {
    background : white;
    foreground : black;
}

prompt, eshell-prompt {
    color       : colors.dark-gray;
    font-weight : semi-bold;
}

cursor {
    color : black;
}

highlight {
    background : colors.faint-gray;
}

builtin, keyword, tuareg-font-lock-governing-face {
    font-weight : semi-bold;
    color       : colors.dark-gray;
}

type, struct, preprocessor,
variable, function, statement, constant,
tuareg-font-lock-operator-face {
    font-weight : normal;
    color       : black;
}

string, comment, doc {
    font-weight : normal;
    color       : colors.kinda-red;
}

error {
    color : colors.kinda-red;
}

selection {
    background : colors.faint-gray;
}

match {
    background  : colors.yellow;
    foreground  : colors.dark-gray;
    font-weight : bold;
}

more-matches {
    background  : colors.faint-gray;
    font-weight : bold;
}

paren-match {
    background : colors.yellow;
}

paren-mismatch, mismatch {
    background : colors.purple;
    foreground : white;
}

todo {
    color : colors.kinda-red;
}

// Emacs-specific colors

mode-line {
    color      : white;
    background : colors.dark-gray; 
}

mode-line-inactive { 
    color      : colors.medium-gray;
    background : colors.light-gray; 
}

compilation-info {
    color : colors.kinda-blue;
}

compilation-error {
    color : colors.kinda-red;
}

org-todo {
    color : colors.kinda-red;
}

org-done {
    color : colors.kinda-green;
}
